@using Blazored.Modal
@using Blazored.Modal.Services
@using WebClient.Responses

<div>
    <EditForm Model="_form" OnValidSubmit="SubmitForm">
        <div>
            <label for="name">Название чата</label>
            <InputText class="form-control" @bind-Value="_form.Name" />
        </div>

        <div>
            <button class="btn btn-primary" type="submit">Создать</button>
            <button class="btn btn-danger" @onclick="Cancel">Отмена</button>
        </div>
    </EditForm>
</div>

@code {
    private readonly ChatResponse _form = new();

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    protected override void OnInitialized() => BlazoredModal.SetTitle("Новый чат");

    private async Task SubmitForm() => await BlazoredModal.CloseAsync(ModalResult.Ok());
    private async Task Cancel() => await BlazoredModal.CancelAsync();
}