@page "/family"
@using Blazored.Modal.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http
<h3>Family</h3>

<AuthorizeView>
    <Authorized>
        <button @onclick="ShowModal">Создать семейную группу</button>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            // User is authenticated
        }
        else
        {
            // User is not authenticated, redirect to login page
            NavigationManager.NavigateTo("login");
        }
    }

    private async Task ShowModal()
    {
        var messageForm = Modal.Show<CreateFamilyModal>("Создать семейную группу");
        var result = await messageForm.Result;

        if (result.Confirmed)
        {
            var message = result.Data.ToString();
        }
    }
}
